.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.blog-title {
  font-size: 2rem;
  color: #333;
}

.blog-meta {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.blog-content {
  font-size: 1rem;
  color: #555;
  font-family: "Ubuntu", sans-serif;
}

.blog-content p {
  margin-bottom: 10px;
}

/* New addition for blog images */
.blog-post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.page-number:hover {
  background-color: #b30000;
}

.page-number.active {
  background-color: #a00000;
  cursor: default;
}